! --Xresources file by Frickelpit-- !

! --urxvt-- !
URxvt*termName:			rxvt
URxvt.font:			-*-termsyn-medium-*-normal-*-14-*-*-*-*-*-*-*
URxvt*boldFont:			-*-termsyn-bold-*-normal-*-14-*-*-*-*-*-*-*
URxvt.scrollBar: 		false
URxvt*cursorUnderline:		true
URxvt*internalBorder:		10
URxvt*scrollTtyKeypress: 	true

URxvt.url-select.launcher: 	firefox
URxvt.keysym.M-u:		perl:url-select:select_next
URxvt.perl-ext-common:  	default,url-select
URxvt.url-select.underline: 	true
URxvt.tabbed.tabbar-fg: 	7
URxvt.tabbed.tabbar-bg: 	0
URxvt.tabbed.tab-fg: 		4
URxvt.tabbed.tab-bg: 		0

! -- color -- !
#include "/home/pit/.colors/music"

! -- xft -- !
Xft.dpi:                        100
Xft.autohint:			0
Xft.hintstyle:			hintfull
Xft.hinting:			true
Xft.antialias:			true
Xft.lcdfilter: 			lcddefault
Xft.rgba:			rgb
