! --Xresources file by Frickelpit-- !

! --urxvt-- !
URxvt*termName:			rxvt
URxvt.font:			xft:Droid Sans Mono:size=8
URxvt*boldFont:			xft:Droid Sans Mono:bold:size=8
URxvt.scrollBar: 		false
URxvt*cursorUnderline:		true
URxvt*internalBorder:		10
URxvt*scrollTtyKeypress: 	true
URxvt.letterSpace: 		-1

URxvt.url-select.launcher: 	firefox
URxvt.keysym.M-u:		perl:url-select:select_next
URxvt.perl-ext-common:  	default,url-select
URxvt.url-select.underline: 	true
URxvt.tabbed.tabbar-fg: 	7
URxvt.tabbed.tabbar-bg: 	0
URxvt.tabbed.tab-fg: 		4
URxvt.tabbed.tab-bg: 		0

! -- color -- !
#include "/home/pit/.colors/smooth"

! -- xft -- !
Xft.dpi:                        100
Xft.autohint:			0
Xft.hintstyle:			hintfull
Xft.hinting:			true
Xft.antialias:			true
Xft.lcdfilter: 			lcddefault
Xft.rgba:			rgb
